<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ChatServlet</servlet-name>
        <servlet-class>chat.servlets.chat.ChatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>chat.servlets.users.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginShortResponseServlet</servlet-name>
        <servlet-class>chat.servlets.users.LightweightLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersListServlet</servlet-name>
        <servlet-class>chat.servlets.users.UsersListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChatServlet</servlet-name>
        <url-pattern>/chat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/pages/signup/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginShortResponseServlet</servlet-name>
        <url-pattern>/loginShortResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersListServlet</servlet-name>
        <url-pattern>/userslist</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>chat.servlets.enigma.MySessionAttributeListener</listener-class>
    </listener>
</web-app>
