
.error-label {
    -fx-text-fill: RED;
    -fx-font-weight: BOLD;
    -fx-font-size: 12px;
}

.main-action-button {
    -fx-text-fill: GREEN;
    -fx-font-size: 20px;
    -fx-font-weight: BOLD;
}

#quit-button {
    -fx-text-fill: RED;
}

#error-text-field{
    -fx-border-color:#d9534f ;
    -fx-border-width:2px;
}

#load-button{
    -fx-background-color: #678f6c;
    -fx-text-fill: #f7f7f7;
    -fx-background-radius: 0%;
    -fx-border-radius:0%;
    -fx-border-color:#1a1a1a ;
    -fx-border-width:1px;

}